
    <footer class="footer container">
        <div class="footer-container">
            <div class="footer-navigation"> 
            <a class="footer-button" href="./index.html">
                <svg width="16" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
                </svg>
            </a>  
                <a class="footer-logo" href="./index.html">
                <svg width="148" height="16">
                <use href="./img/icons.svg#icon-logotext"></use>
                </svg>
                </a>
                <p class="footer-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect
                    choice.</p>
            </div>
            <div class="footer-menu-content">
                <ul class="footer-menu">
                    <li> <a class="footer-menu-item" href="#how_it_works.html">how it works</a></li>
                    <li> <a class="footer-menu-item" href="#vegetables.html">vegetables</a> </li>
                    <li> <a class="footer-menu-item" href="#reviews.html">reviews</a></li>
                </ul>
            
            <!-- <div class="footer-address-menu"> -->
                <address class="footer-address">
                    <ul class="footer-address-list">
                        <li> <a href="tel:+380684439426" class="footer-adress-link">+380 (68) 443-94-26</a></li>
                        <li> <a href="" class="footer-adress-link">1678 S. Pioneer Road Salt <br> Lake City UT 84104</a></li>
                    </ul>
                </address>
            </div>
            <div class="footer-end-content"> 
               <p class="footer-end">Privacy Policy <span class="footer-span">/</span> Cookie settings</p> 
               <p class="footer-the-end">&copy;Green Harvest 2023</p>
            </div>
        </div>
    </footer>

