<header class="header">
  <div class="container header-container">
    <a href="index.html" class="logo"
      ><svg class="header-logo-left" width="16" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <svg class="header-logo-right" width="148" height="12">
        <use href="./img/icons.svg#icon-logotext"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-menu">
        <li class="header-link-how">
          <a class="header-item" href="how_it_works.html">How It Works</a>
        </li>
        <li class="header-link-veg">
          <a class="header-item" href="vegetables.html">Vegetables</a>
        </li>
        <li class="header-link-rev">
          <a class="header-item" href="reviews.html">Reviews</a>
        </li>
      </ul>

      <button class="header-btn" type="button">Shop now</button>
    </nav>
    <button class="open-menu-btn" type="button">
      <svg class="open-menu-icons" width="32" height="32">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu">
    <div class="mob-menu-top">
      <button type="button" class="close-menu-btn">
        <svg class="close-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="how_it_works.html">How It Works</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="vegetables.html">Vegetables</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="reviews.html">Reviews</a>
          </li>
        </ul>
      
    </div>
    <button type="button" class="header-mob-button">Shop now</button>
    </nav>
  </div>

  <div class="modal-overlay">
    <div class="tab-menu">
      <div class="tab-menu-top">
        <button type="button" class="close-tab-btn">
          <svg class="tab-close-icon" width="32" height="32">
            <use href="https://nataliyagarbar.github.io/healthy-groceries-project/img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="tab-menu-nav">
          <ul class="tab-menu-list">
            <li class="tab-menu-item">
              <a class="tab-menu-link" href="how_it_works.html">How It Works</a>
            </li>
            <li class="tab-menu-item">
              <a class="tab-menu-link" href="vegetables.html">Vegetables</a>
            </li>
            <li class="tab-menu-item">
              <a class="tab-menu-link" href="reviews.html">Reviews</a>
            </li>
          </ul>
      </div>
      <button type="button" class="header-button">Shop now</button>
    </div>
    </nav>
  </div>
</header>
