<section class="your-order">
  <div class="container your-order-container">
    <div class="your-order-title-box">
      <h1 class="your-order-title">
        Fresh <span class="your-order-title-span">Harvest</span> Box has got you
        covered
      </h1>
      <p class="your-order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="your-order-box">
      <form class="your-order-form-cont" action="">
        <p class="your-order-form-title">
          Ordering <span class="your-order-form-span-red">from us</span> is
          quick and easy! Fill out
          <span class="your-order-form-span-green">the form</span> below and we
          will contact you !
        </p>
        <div class="form-container">
          <input
            class="your-order-input"
            type="text"
            id="your-order-input"
            name="your-order-input"
            placeholder="Full Name"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <input
            class="your-order-input"
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <textarea
            class="your-order-textarea"
            name="comment"
            id="comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="your-order-button" type="submit">Send</button>
      </form>

      <div class="your-order-img-cont">
        <picture>
          <source
            srcset="
              ./img/your-order/img-desk-1x.jpg 1x,
              ./img/your-order/img-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/your-order/img-tab-1x.jpg 1x,
              ./img/your-order/img-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/your-order/img-mob-1x.jpg 1x,
              ./img/your-order/img-mob-2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            srcset="./img/your-order/img-tab-2x.jpg 2x"
            class="your-order-img"
            src="./img/your-order/img-tab-1x.jpg"
            alt="picture of a girl squeezing a lemon"
            width="528"
            height="273"
          />
        </picture>

        <p class="your-order-img-text">Follow us on our social networks:</p>
        <ul class="your-order-list">
          <li class="your-order-item">
            <a
              class="your-order-link"
              href="https://www.instagram.com/goitclub/ "
              target="_blank"
              >instagram /</a
            >
          </li>
          <li class="your-order-item">
            <a
              class="your-order-link"
              href="https://www.facebook.com/c/GoIT "
              target="_blank"
              >facebook /</a
            >
          </li>
          <li class="your-order-item">
            <a
              class="your-order-link"
              href="https://www.youtube.com/goITclub/  "
              target="_blank"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
