.discount{

    padding-top: 20px;
    padding-bottom: 80px;
    box-sizing: border-box;

}



.discount-text{
   
        font-weight: 600;
        font-size: 48px;
        line-height: 104%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
    color: #141414;
}
.discount-text-green{
    background-color: #576f35;
    border-radius: 12px;
        color:  #fbfbfb;
        display: block;
        
}


@media screen and (min-width: 375px) {
    
}
@media screen and (min-width: 768px) {
    .discount {
            
            padding-top: 108px;
            padding-bottom: 100px;
        }
    .discount-text {
    font-size: 64px;
        line-height: 109%
       
    }
    
   
}
@media screen and (min-width: 1280px) {
    
    .discount{
        padding-top: 100px;
            padding-bottom: 100px;
            display: none;
            
    }
    .discount-text{
        font-size: 76px;
            line-height: 105%;

    }
    
}