.discount{
    width: 335px;
    height: 306px;
    box-sizing: border-box;

}

.discount-text{
    text-transform: uppercase;
    padding-left: 83px;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-right: 20px;
    width: 335px;
    height: 306px;
}
.discount-text-green{
    background-color: #576f35;
    border-radius: 12px;
        width: 355px;
        height: 102px;
        color:  #fbfbfb
}

@media screen and (min-width: 320px) {
    .discount {
        width: 100%;
    }
}
@media screen and (min-width: 375px) {
    .discount {
        width: 375px;
        height: 469px;
    }
}
@media screen and (min-width: 768px) {
    .discount {
        width: 768px;
        height: 488px;
       
    }
    .discount-text{
        padding-left: 32px;
            padding-top: 108px;
            padding-right: 32px;
            padding-bottom: 100px;
            width: 704px;
            height: 280px;

    }
}
@media screen and (min-width: 1158px) {
    .discount {
        width: 1158px;
        height: 440px;
        
    }
    .discount-text{
        padding-left: 113px;
            padding-top: 100px;
            padding-right: 113px;
            padding-bottom: 100px;
            width: 1054px;
            height: 240px;
    }
}