.footer{
    background-color: #7a3145;
    padding: 40px 20px;
}
.footer-container{
    padding: 0 20px;
    margin: 0 auto;
}
        

.footer-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 14px;
    border: 0;
    fill: white;
}
.icon-logo{
     margin-right: 4px;
}

.footer-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fbfbfb;
    padding-top: 14px;
    width: 294px;
    margin-bottom: 40px;
}

.footer-nav{
   gap: 14px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
}


.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 14px;
     margin-bottom: 40px;
}

.footer-menu-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
   font-weight: 600;
   font-size: 28px;
   line-height: 1;
   letter-spacing: -0.01em;
   color: #fbfbfb;
}

.footer-address{
    font-style: normal;
}

.footer-address-list{
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px; 
    letter-spacing: -0.01em;
    color: #fbfbfb;
    margin-bottom: 80px;
}

.footer-adress-link{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    color: #fbfbfb;
}


.footer-end-content{
    display: flex;
        align-items: flex-end;
        justify-content: space-between;
        font-weight: 500;
        flex-direction: row;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: -.01em;
        color: rgba(251, 251, 251, 0.5);
}

.footer-span{
    margin-left: 8px;
    margin-right: 8px;
}
.footer-the-end{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
}


@media screen and (min-width: 768px) {

.footer{
    padding: 32px;
}

.footer-container {
    padding-left: 32px;
    padding-right: 32px;
}

.footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-text{
    font-size: 16px;
    max-width: 265px;
}
.footer-nav{
    gap: 25px;
    font-weight: 600;
    font-size: 32px;
}
.footer-menu{
    margin-bottom: 64px;
    gap: 25px;
    
}
.footer-menu-item{
    font-size: 32px;
    line-height: 32px;
}

.footer-address-list{
    gap: 25px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 100px
}
.footer-adress-link{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}
}



@media screen and (min-width: 1280px) {

    .footer{
        padding: 50px 100px;
    }
    
    .footer-container  {
    padding-left: 100px;
    padding-right: 100px; }

.footer-navigation {
    flex-direction: row;
    justify-content: space-between;
}


 .footer-menu-content{
        display: flex;
        flex-direction: row;
        gap: 121px;
    }
.footer-nav{
    margin-bottom: 0;
}

.footer-menu{
        gap: 25px;
            margin-bottom: 125px;
}

.footer-address{
    margin-bottom: 0;
}
}


