.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  padding-top: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: none;
}

.modal-overlay {
  display: none;
}

.header-btn {
  display: none;
}

.header-button {
  display: none;
}

.logo {
  width: 168px;
  height: 16px;
  fill: #fbfbfb;
}

.header-logo-right {
  margin: 2px 0;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.open-menu-icons {
  stroke: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #7A3145;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-menu-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 240px;
  border: none;
  background-color: #7a3145;
}

.close-icon {
  stroke: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-top {
  display: flex;
  flex-direction: column;

}

.mob-menu-nav {
  align-self: center;
}

.mob-menu-list {
  margin-bottom: 50px;

}

.mob-menu-item {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 0;
  width: 115px;
  height: 42px;
  align-content: center;
  text-align: center;
  transition: background-color .3s cubic-bezier(.4, 0, .2, 1)
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 8px;
  text-align: center;
}

.mob-menu-item:hover,
.mob-menu-item:focus {
  background-color: #fbfbfb;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #7A3145;
}

.mob-menu-link {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}


.header-mob-button {
  display: block;
  min-width: 155px;
  height: 50px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: #7A3145;
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mob-button:hover,
.header-mob-button:focus {
  background-color: #fbfbfb;
  color: #7A3145;
}

@media screen and (min-width: 375px) {
  .header {
    width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    padding-top: 32px;
    padding-bottom: 50px;
  }

  .header-container {
    width: 728px;
    min-height: 40px;
  }

  .logo {
    width: 194px;
    height: 18px;
  }

  .open-menu-icons {
    width: 40px;
    height: 40px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    pointer-events: none;
  }

  .modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .tab-menu {
    position: absolute;
    top: 50%;
    left: 68%;
    background-color: #7A3145;
    width: 351px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(-12%, -50%);
    padding: 20px;
  }

  .close-tab-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 240px;
    border: none;
    background-color: #7a3145;
  }

  .tab-close-icon {
    stroke: #fbfbfb;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .tab-menu-top {
    display: flex;
    flex-direction: column;

  }

  .tab-menu-nav {
    align-self: center;
  }

  .tab-menu-list {
    margin-bottom: 50px;

  }

  .tab-menu-item {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px 0;
    width: 115px;
    height: 42px;
    align-content: center;
    text-align: center;
  }

  .tab-menu-item:not(:last-child) {
    margin-bottom: 8px;
    text-align: center;
  }

  .tab-menu-link {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
  }

  .header-button {
    background-color: #fbfbfb;
    color: #7A3145;
    min-width: 157px;
    height: 52px;
    transition: background-color .3s cubic-bezier(.4, 0, .2, 1)
  }

  .header-button:hover,
  .header-button:focus {
    color: rgba(122, 49, 69, 0.7);
  }
}

@media screen and (min-width: 1280px) {
  .open-menu-btn {
    display: none;
  }

  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 1280px;
    background-color: transparent;
    background-size: auto;
  }

  .header-container {
    width: 1120px;
  }

  .header-nav {
    display: flex;
    text-align: center;
  }

  .header-menu {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .header-link-how>a {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    width: 114px;
    height: 44px;
    background-color: transparent;
  }

  .header-link-veg>a {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    width: 101px;
    height: 44px;
    background-color: transparent;
  }

  .header-link-rev>a {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    width: 81px;
    height: 44px;
    background-color: transparent;
  }

  .header-item {
    font-family: "Inter Tight", italic, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
  }

  button {
    border-radius: 30px;
    width: 157px;
    height: 52px;
    background-color: #7a3145;
    border: none;
  }

  .header-btn {
    display: block;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-left: 20px;
    transition: background-color .3s cubic-bezier(.4, 0, .2, 1)
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: #622133;
  }
}