.hero {
  width: 100%;
  height: 692px;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
    url(../img/hero/vegetables-mob.jpg) no-repeat center bottom;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
      url(../img/hero/vegetables-mob2x.jpg) no-repeat center bottom;
  }
}

.hero-container {
  min-width: 300px;
  min-height: 322px;
  background-color: #576F35;
}

img {
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .hero {
    width: 375px;
    background-size: 375px;
    margin: 0 auto;
  }

  img {
    width: 375px;
  }

  .hero-container {
    min-width: 335px;
    margin: 0 auto;
  }
}

h1 {
  font-family: "Inter Tight SemiBold", 'SemiBold', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFBFB;
  margin: 0 auto;
}

.hero-title {
  margin-bottom: 20px;
}


.hero-content {
  font-family: "Inter Tight SemiBold", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #FBFBFB;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 902px;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
      url(../img/hero/vegetables-tab.jpg) no-repeat center bottom;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
        url(../img/hero/vegetables-tab2x.jpg) no-repeat center bottom;
    }
  }

  .hero-container {
    min-width: 704px;
    margin: 0 auto;
  }

  h1 {
    font-size: 76px;

  }

  .hero-title {
    margin-bottom: 25px;
    width: 704px;
    min-height: 228px;
  }

  p {
    margin-bottom: 40px;
  }

  .hero-content {
    font-size: 16px;
    line-height: 125%;
    width: 603px;
    height: 60px;
    margin-bottom: 50px;
  }

}

@media screen and (min-width: 1280px) {
  .hero {
    width: 1280px;
    height: 562px;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
      url(../img/hero/vegetables-desk.jpg) no-repeat right;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(to right, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
        url(../img/hero/vegetables-desk2x.jpg) no-repeat right;
      background-size: cover;
    }
  }

  .hero-container {
    width: 640px;
    height: 562px;
    margin: 0;
    padding: 0 28px 50px 100px;
  }

  .hero-title {
    width: 502px;
    min-height: 304px;
    margin: 0;
    margin-bottom: 128px;
  }

  .hero-content {
    width: 472px;
    height: 80px;
    margin: 0;
  }
}