.hero {
  min-height: 812px;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
    url(/img/hero/vegetables-mob.jpg) no-repeat center bottom/410px;
  background-color: #576F35;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
      url(/img/hero/vegetables-mob2x.jpg) no-repeat center bottom/410px;
    padding: 48px 20px 40px;
    background-color: #576F35;

  }
}

.hero-container {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FBFBFB;
}

.hero-title {
  margin-bottom: 20px;
}


.hero-content {
  font-family: "Inter Tight SemiBold", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #FBFBFB;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 1024px;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
      url(/img/hero/vegetables-tab.jpg) no-repeat center bottom/870px;
    background-color: #576F35;
    padding: 50px 32px 0;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(to bottom, rgba(20, 20, 20, 0.2) 0%, rgba(20, 20, 20, 0.2) 100%),
        url(/img/hero/vegetables-tab2x.jpg) no-repeat center bottom/870px;
      background-color: #576F35;
    }
  }

  h1 {
    font-size: 76px;
    width: 704px;
  }


  .hero-title {
    margin-bottom: 25px;

  }

  .hero-content {
    font-size: 16px;
    line-height: 125%;
    width: 603px;
    height: 60px;

  }

}


@media screen and (min-width: 1280px) {
  .hero {
    width: 1280px;
    margin: 0 auto;
    min-height: 800px;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%),
      url(/img/hero/vegetables-desk.jpg) no-repeat top right/650px;
    padding: 0;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(to right, rgba(20, 20, 20, 0.2) 0%,
          rgba(20, 20, 20, 0.2) 100%),
        url(/img/hero/vegetables-desk2x.jpg) no-repeat top right/650px;
    }
  }

  .hero-container {
    width: 630px;
    height: 800px;
    margin: 0;
    padding: 238px 28px 0 100px;
    background-color: #576F35;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-title {
    width: 502px;
    margin-bottom: 0;
  }

  .hero-content {
    width: 472px;
    height: 80px;
    margin-bottom: 50px;
  }

}