.cont-how-it-works {
    /* max-width: 375px; */
    min-width: 320px;
    /* margin: 0 auto; */
    padding: 0;
    background: linear-gradient(90deg, #7a3145, #7a3145 50%, #576f35 50%, #576f35);
}

.hidden-how-it-works {
        position: absolute;
        left: -9999px;
        top: -9999px;
        width: 1px;
        height: 1px;
        overflow: hidden;
}
.how-it-works {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #7A3145;
 
}

.photo-how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}
.photo-how-it-works-tablet {
    display: none;
}

.description-how-it {
    background-color: #576F35;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.tittle-how-it-works {
    font-family: Inter Tight;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #FBFBFB;
}

.span-tittle-how-it {
    font-family: Inter Tight;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.015em;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
}

.paragraph-how-it-works {
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #FBFBFB;
    margin-top: 20px;
   
}




/* СЧЕТЧИК ВАР 1 */




/* .list-how-it-works {
    counter-reset: my-awesome-counter;

}

.list-how-it-works>li {
    counter-increment: my-awesome-counter;
    margin-bottom: 10px;
}

.custom-counter>li::before {
    content: counter(my-awesome-counter) ". ";
    font-weight: bold;
} */




/* СЧЕТЧИК ВАР 2 */

.list-how-it-works {
    counter-reset: section;
    list-style-type: none;
}

.list-text-how-it::before .number-list-redackt {
        counter-increment: section;
        content: counters(section, ".") " ";
    }





.list-how-it-works {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    list-style-type: none;
    padding: 0;

}

.list-text-how-it {
    display: flex;
    flex-direction: row;
    max-width: 335px;
    height: 76px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 15px;
    background-color: white;
    font-family: Inter Tight;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.02em;
    gap: 29px;
    margin-top: 17px;

}

.number-list-redackt {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-family: Inter Tight;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    background-color: #7A3145;
    box-shadow: 0 0 0 4px rgba(122, 49, 69, 0.3);
    color: #FBFBFB;
    margin-left: 29px;
    margin-top: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 11px;
    padding-left: 17px;

}

.number-list-redackt-two {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-family: Inter Tight;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    background-color: #7A3145;
    box-shadow: 0 0 0 4px rgba(122, 49, 69, 0.3);
    color: #FBFBFB;
    margin-left: 29px;
    margin-top: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 15px;
    padding-left: 15px;
}

.number-list-redackt-three {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-family: Inter Tight;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    background-color: #7A3145;
    box-shadow: 0 0 0 4px rgba(122, 49, 69, 0.3);
    color: #FBFBFB;
    margin-left: 29px;
    margin-top: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 14px;
    padding-left: 15px;
}
.paragraph-list-how-it {
    font-family: Inter Tight;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: -0.02em;
        text-align: left;
    color: rgba(20, 20, 20, 0.6);
    width: 100%;
    height: 100%;
    width: 208px;
    margin-top: 5px;
}
.paragraph-two-list-how-it {
    font-family: Inter Tight;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: -0.02em;
        text-align: left;
    color: rgba(20, 20, 20, 0.6);
    width: 100%;
    height: 100%;
    width: 176px;
    margin-top: 12px;
}
.paragraph-thre-list-how-it {
    font-family: Inter Tight;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: -0.02em;
        text-align: left;
    color: rgba(20, 20, 20, 0.6);
    width: 100%;
    height: 100%;
    width: 211px;
    margin-top: 12px;
}
.text-paragraph-how-it{
    color: #141414;
    font-family: Inter Tight;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: -0.02em;
        text-align: left;
}
@media screen and (min-width: 768px) {
    /* .container {
        max-width: 768px;
        padding: 0 32px;
        
    } */
    .how-it-works{
        padding-top: 100px;
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 100px;
    }
    
    .photo-how-it-works{
    width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    }
    .tittle-how-it-works {
        width: 450px;
        font-family: Inter Tight;
            font-size: 32px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.015em;
            text-align: left;
            margin-left: 159px;
    }
    .span-tittle-how-it{
        font-family: Inter Tight;
            font-size: 32px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.015em;
            text-align: left;
           
    }
    .description-how-it{
            padding-left: 0;
            padding-right: 0;
            padding-top: 100px;
        }
    .paragraph-how-it-works{
        width: 450px;
        font-family: Inter Tight;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-align: left;
            margin-left: 159px;
            margin-top: 25px;
    }
    .list-how-it-works{
        margin-left: 159px;
    }
    .list-text-how-it{
        max-width: 450px;
    }
    .paragraph-list-how-it{
        width: 325px;
        font-family: Inter Tight;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.02em;
            text-align: left;
    }
    .text-paragraph-how-it{
        font-family: Inter Tight;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -0.02em;
            text-align: left;
    }
    .paragraph-two-list-how-it {
        width: 325px;
            font-family: Inter Tight;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.02em;
            text-align: left;
            margin-top: 16px;
    }
    .paragraph-thre-list-how-it{
        width: 325px;
            font-family: Inter Tight;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.02em;
            text-align: left;
            margin-top: 6px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        /* max-width: 1280px;
        padding: 0 0; */
       
    }


    .how-itttt {
        display: flex;
        padding: 0;
   
    }
    .cont-how-it-works{
        display: flex;
    }
    .photo-how-it-works {
        display: flex;
        width: 430px;
        height: 559px;
        /* margin: 0 100px; */
    }
    .photo-how-it-works-tablet{
        display: none;
    }
    .how-it-works{
        width: 630px;
            height: 759px;
            padding: 100px 0px 0px 0px;
            gap: 10px;
            /* opacity: 0px; */
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 100px;
            padding-bottom: 100px;
    }
    .description-how-it{
        width: 650px;
            height: 759px;
            top: 800px;
            left: 630px;
            padding: 100px 100px 160px 100px;
            gap: 10px;
            /* opacity: 0px; */
    }
        .tittle-how-it-works{
            margin-left: 0;
        }
    .paragraph-how-it-works{
        margin-left: 0;
    }
    .list-how-it-works {
        margin-left: 0;
    }
    .list-text-how-it{
        margin-top: 0;
    }
}



