.vegetables {
    background-color: #7A3145;
    padding-top: 80px;
    padding-bottom: 80px;
}

.vegetables-title {
    text-transform: uppercase;
    font-size: 46px;
    line-height: 1.04;
    font-weight: 600;
    letter-spacing: -0.015em;
    margin-bottom: 20px;
}

.vegetables-title-accent {
    color: rgba(251, 251, 251, 0.3);
}

.vegetables-paragraph {
    font-size: 14px;
    line-height: 1.29;
    font-weight: 500;
    margin-bottom: 40px;
}

.vegetables-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.vegetables-pic {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.vegetables-item {
    border-radius: 40px;
    background-color: #FBFBFB;
    padding: 32px 26px;
}

.vegetables-name {
    color: #7A3145;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.015em;
    margin-bottom: 12px;
}

.vegetables-price {
    text-transform: uppercase;
    color: #141414;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 600;
    letter-spacing: -0.015em;
    margin-bottom: 14px;
}

@media screen and (min-width: 375px) {
    .vegetables-title {
        font-size: 48px;
        }
}

@media screen and (min-width: 768px) {
    .vegetables {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .vegetables-title {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 50px;
        max-width: 508px;
    }
    .vegetables-paragraph {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 50px;
        max-width: 626px;
    }
    .vegetables-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 28px;
        column-gap: 20px;
    }
    .vegetables-item {
        padding: 32px 30px;
        width: calc((100% - 20px) / 2);
    }
    .vegetables-name {
        font-size: 32px;
    }
}
@media screen and (min-width: 1280px) {
    .vegetables {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .vegetables-title {
        margin-bottom: 25px;
        }
    .vegetables-item {
        padding: 32px;
        width: calc((100% - 40px) / 3);
    }
}